.numberUn {
    display: grid;
    grid-template: repeat(8, 100) / repeat(16, 1fr);
    grid-gap: 15px;
}
.numberUn div {
    background-color: #515151;
    color: #eeeed9;
}
#one {
    grid-area: 1 / 1 / span 1 / span 16;
}
#two {
    grid-area: 2 / 1 / span 2 / span 16;
}
#three {
    grid-area: 4 / 1 / span 2 / span 16;
}
#four {
    grid-area: 6 / 1 / span 2 / span 16;
}
#five {
    grid-area: 8 / 1 / span 1 / span 16;
}
