.numberUn {
    display: grid;
    grid-template: repeat(256, 60px) / repeat(32, 1fr);
    /*grid-gap: 2.5px;*/
    background-color: #33d4ab;
    padding:2.5%;
}
.numberUn div {
    background-color: #515151;
    /*color: #eeeed9;*/
    color: #515151;
    text-align:center;
    text-justify: auto;
    font-size: 2vw;
}
.funny {
    text-shadow: #515151 2px;
    animation: biggieCheese 1s linear 0s infinite;
    border: 4px #ff9999 solid;
}
#one {
    grid-area: 1 / 1 / 3 / 9;
}
#two {
    grid-area: 1 / 9 / 3 / 17;
}
#three {
    grid-area: 3 / 3 / 3 / 5;
}
#four {
    grid-area: 4 / 4 / 4 / 4;
}
#five {
    grid-area: 5 / 5 / 5 / 8;
}
@keyframes biggieCheese{
    0%      {/*grid-row-end: span 1; grid-column-end: span 1;*/rotate: 0deg;margin:0;border: 4px #ff9999 solid;background-color:#515151;}
    50%     {/*grid-row-end: span 2; grid-column-end: span 2;*/rotate: 30deg;margin:8%;border: 0.5px #ff9999 solid;background-color:#dd8888}
    100%    {/*grid-row-end: span 1; grid-column-end: span 1;*/rotate: -30deg;margin:0;border: 4px #ff9999 solid;background-color:#515151}
}