.numberUn {
    display: grid;
    grid-template: repeat(8, 100) / repeat(16, 1fr);
    grid-gap: 2.5px;
}
.numberUn div {
    background-color: #515151;
    color: #eeeed9;
}
#one {
    grid-area: 1 / 1 / 1 / 17;
}
#two {
    grid-area: 2 / 2 / 2 / 5;
}
#three {
    grid-area: 3 / 3 / 3 / 5;
}
#four {
    grid-area: 4 / 4 / 4 / 4;
}
#five {
    grid-area: 5 / 5 / 5 / 8;
}
